In [58]:
#pip install sqlalchemy psycopg2 yfinance pandas

In [59]:
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Date, Float, text, BigInteger
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [60]:
# List of major tech stocks to analyze
tech_stocks = ["AAPL", "MSFT", "GOOGL", "AMZN", "TSLA", "NVDA", "META", "AMD", "INTC", "NFLX"]

In [61]:
# Create a database connection
username = "postgres"
password = "postgres"

In [62]:
# Database connection string
#DATABASE_URL = "postgresql+psycopg2://postgres:postgres@localhost/stock_db"
DATABASE_URL = f"postgresql://{username}:{password}@localhost/stock_db"

# Create engine and base
engine = create_engine(DATABASE_URL)
Base = declarative_base()   

# Define the Stock table
class Stock(Base):
    __tablename__ = 'stocks'

    id = Column(Integer, primary_key=True)
    name = Column(String(100), nullable=False)
    ticker = Column(String(10), nullable=False)
    date = Column(Date, nullable=False)
    open_price = Column(Float, nullable=False)
    close_price = Column(Float, nullable=False)
    high = Column(Float, nullable=False)
    low = Column(Float, nullable=False)
    volume = Column(BigInteger, nullable=False)

# Create the table in the database
Base.metadata.create_all(engine)

# Fetch data from yfinance and store in PostgreSQL
Session = sessionmaker(bind=engine)
session = Session()

for ticker in tech_stocks:
    stock = yf.Ticker(ticker)
    data = stock.history(period="10y")
    data.reset_index(inplace=True)  # Ensure 'Date' is a column, not an index
    data['Date'] = data['Date'].dt.date  # Keep only the date part

    for index, row in data.iterrows():
        stock_record = Stock(
            name=stock.info['shortName'],
            ticker=ticker,
            date=row['Date'],
            open_price=row['Open'],
            close_price=row['Close'],
            high=row['High'],
            low=row['Low'],
            volume=row['Volume']
        )
        session.add(stock_record)

try:
    session.commit()
    print("Data successfully stored in the PostgreSQL database!")
except Exception as e:
    session.rollback()
    print("Failed to store data in the PostgreSQL database:", e)
finally:
    session.close()

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\4247154038.py:7: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

Failed to store data in the PostgreSQL database: (psycopg2.errors.NumericValueOutOfRange) integer out of range

[SQL: INSERT INTO stocks (name, ticker, date, open_price, close_price, high, low, volume) SELECT p0::VARCHAR, p1::VARCHAR, p2::DATE, p3::FLOAT, p4::FLOAT, p5::FLOAT, p6::FLOAT, p7::BIGINT FROM (VALUES (%(name__0)s, %(ticker__0)s, %(date__0)s, %(open_price_ ... 141971 characters truncated ... 1, p2, p3, p4, p5, p6, p7, sen_counter) ORDER BY sen_counter RETURNING stocks.id, stocks.id AS id__1]
[parameters: {'volume__0': 290856000, 'name__0': 'NVIDIA Corporation', 'high__0': 1.773442220924746, 'low__0': 1.7323653104392394, 'close_price__0': 1.7355629205703735, 'open_price__0': 1.746877532012269, 'ticker__0': 'NVDA', 'date__0': datetime.date(2016, 10, 28), 'volume__1': 252388000, 'name__1': 'NVIDIA Corporation', 'high__1': 1.7618817136017955, 'low__1': 1.7402362978923838, 'close_price__1': 1.7503211498260498, 'open_price__1': 1.7412202230746447, 'ticker__1': 'NVDA', 'date__1': datetime.date(2016, 10, 31), 'volume__2': 473224000, 'name__2': 'NVIDIA Corporation', 'high__2': 1.7663090230349026, 'low__2': 1.6797276034954218, 'close_price__2': 1.6984213590621948, 'open_price__2': 1.7567161933026159, 'ticker__2': 'NVDA', 'date__2': datetime.date(2016, 11, 1), 'volume__3': 295848000, 'name__3': 'NVIDIA Corporation', 'high__3': 1.734578822019673, 'low__3': 1.6883364557238385, 'close_price__3': 1.6912881135940552, 'open_price__3': 1.7114576975155187, 'ticker__3': 'NVDA', 'date__3': datetime.date(2016, 11, 2), 'volume__4': 309664000, 'name__4': 'NVIDIA Corporation', 'high__4': 1.7006351560653057, 'low__4': 1.6391427078580232, 'close_price__4': 1.671610713005066, 'open_price__4': 1.6991593269870275, 'ticker__4': 'NVDA', 'date__4': datetime.date(2016, 11, 3), 'volume__5': 328780000, 'name__5': 'NVIDIA Corporation', 'high__5': 1.6905507241265578, 'low__5': 1.6376671716780116, 'close_price__5': 1.6620181798934937, 'open_price__5': 1.6605423505512622, 'ticker__5': 'NVDA', 'date__5': datetime.date(2016, 11, 4), 'volume__6': 487580000, 'name__6': 'NVIDIA Corporation' ... 7900 parameters truncated ... 'ticker__993': 'NVDA', 'date__993': datetime.date(2020, 10, 9), 'volume__994': 434744000, 'name__994': 'NVIDIA Corporation', 'high__994': 14.306453153633392, 'low__994': 13.873181380351275, 'close_price__994': 14.185794830322266, 'open_price__994': 13.949963431015222, 'ticker__994': 'NVDA', 'date__994': datetime.date(2020, 10, 12), 'volume__995': 344604000, 'name__995': 'NVIDIA Corporation', 'high__995': 14.30794898342948, 'low__995': 13.979130851374755, 'close_price__995': 14.207982063293457, 'open_price__995': 14.256095898504283, 'ticker__995': 'NVDA', 'date__995': datetime.date(2020, 10, 13), 'volume__996': 276100000, 'name__996': 'NVIDIA Corporation', 'high__996': 14.302214183940544, 'low__996': 13.920546351451373, 'close_price__996': 14.055414199829102, 'open_price__996': 14.250111943939704, 'ticker__996': 'NVDA', 'date__996': datetime.date(2020, 10, 14), 'volume__997': 267224000, 'name__997': 'NVIDIA Corporation', 'high__997': 13.966168462668685, 'low__997': 13.728841151197074, 'close_price__997': 13.930520057678223, 'open_price__997': 13.771719850781318, 'ticker__997': 'NVDA', 'date__997': datetime.date(2020, 10, 15), 'volume__998': 242392000, 'name__998': 'NVIDIA Corporation', 'high__998': 14.08159195628596, 'low__998': 13.753521254907113, 'close_price__998': 13.772467613220215, 'open_price__998': 13.99708128900641, 'ticker__998': 'NVDA', 'date__998': datetime.date(2020, 10, 16), 'volume__999': 298068000, 'name__999': 'NVIDIA Corporation', 'high__999': 13.943979743092198, 'low__999': 13.368859935970532, 'close_price__999': 13.459603309631348, 'open_price__999': 13.863707599950652, 'ticker__999': 'NVDA', 'date__999': datetime.date(2020, 10, 19)}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

In [63]:
# seperate each stock in different table
for ticker in tech_stocks:
    stock = yf.Ticker(ticker)
    data = stock.history(period="10y")
    data.reset_index(inplace=True)  # Ensure 'Date' is a column, not an index
    data['Date'] = data['Date'].dt.date  # Keep only the date part

    # Define the Stock table
    class Stock(Base):
        __tablename__ = ticker

        id = Column(Integer, primary_key=True)
        date = Column(Date, nullable=False)
        open_price = Column(Float, nullable=False)
        close_price = Column(Float, nullable=False)
        high = Column(Float, nullable=False)
        low = Column(Float, nullable=False)
        volume = Column(BigInteger, nullable=False)

    # Create the table in the database
    Base.metadata.create_all(engine)

    Session = sessionmaker(bind=engine)
    session = Session()

    for index, row in data.iterrows():
        stock_record = Stock(
            date=row['Date'],
            open_price=row['Open'],
            close_price=row['Close'],
            high=row['High'],
            low=row['Low'],
            volume=row['Volume']
        )
        session.add(stock_record)

    try:
        session.commit()
        print(f"Data for {ticker} successfully stored in the PostgreSQL database!")
    except Exception as e:
        session.rollback()
        print(f"Failed to store data for {ticker} in the PostgreSQL database:", e)
    finally:
        session.close()

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for AAPL successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for MSFT successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for GOOGL successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for AMZN successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for TSLA successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for NVDA successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for META successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for AMD successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for INTC successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for NFLX successfully stored in the PostgreSQL database!

In [64]:
# Initialize database connection
engine = create_engine(DATABASE_URL)
Session = sessionmaker(bind=engine)
session = Session()

# Loop through tech stocks and update prices to 2 decimal places
for ticker in tech_stocks:
    query = text(f"""
        UPDATE "{ticker}" 
        SET open_price = ROUND(open_price::numeric, 2), 
            close_price = ROUND(close_price::numeric, 2), 
            high = ROUND(high::numeric, 2), 
            low = ROUND(low::numeric, 2)
    """)
    session.execute(query)

# Commit the transaction to save changes
session.commit()

# Close session
session.close()

In [65]:

# Create engine and session
engine = create_engine(DATABASE_URL)
Session = sessionmaker(bind=engine)
session = Session()

for ticker in tech_stocks:
    query = text(f'SELECT * FROM stocks WHERE ticker = :ticker')
    result = session.execute(query, {'ticker': ticker})
    data = result.fetchall()
    df = pd.DataFrame(data, columns=result.keys())
    print(f"\n{ticker} data:")
    print(df)

session.close()

AAPL data:
        id        name ticker        date  open_price  close_price  \
0        1  Apple Inc.   AAPL  2015-02-23   29.037073    29.702589
1        2  Apple Inc.   AAPL  2015-02-24   29.689189    29.517225
2        3  Apple Inc.   AAPL  2015-02-25   29.380988    28.762369
3        4  Apple Inc.   AAPL  2015-02-26   28.762365    29.126390
4        5  Apple Inc.   AAPL  2015-02-27   29.032598    28.688675
...    ...         ...    ...         ...         ...          ...
2511  2512  Apple Inc.   AAPL  2025-02-14  241.250000   244.600006
2512  2513  Apple Inc.   AAPL  2025-02-18  244.149994   244.470001
2513  2514  Apple Inc.   AAPL  2025-02-19  244.660004   244.869995
2514  2515  Apple Inc.   AAPL  2025-02-20  244.940002   245.830002
2515  2516  Apple Inc.   AAPL  2025-02-21  245.949997   245.550003

            high         low     volume
0      29.702589   28.956675  283896400
1      29.836586   29.293898  276912400
2      29.389923   28.619440  298846800
3      29.226887   28.275513  365150000
4      29.159896   28.639543  248059200
...          ...         ...        ...
2511  245.550003  240.990005   40896200
2512  245.179993  241.839996   48822500
2513  246.009995  243.160004   32204200
2514  246.779999  244.289993   32316900
2515  248.690002  245.220001   53119400

[2516 rows x 9 columns]

MSFT data:
        id                   name ticker        date  open_price  close_price  \
0     5033  Microsoft Corporation   MSFT  2015-02-23   37.791929    38.181091
1     5034  Microsoft Corporation   MSFT  2015-02-24   38.181097    38.129208
2     5035  Microsoft Corporation   MSFT  2015-02-25   38.008135    38.042728
3     5036  Microsoft Corporation   MSFT  2015-02-26   38.042728    38.103264
4     5037  Microsoft Corporation   MSFT  2015-02-27   38.163809    37.921661
...    ...                    ...    ...         ...         ...          ...
2511  7544  Microsoft Corporation   MSFT  2025-02-14  407.790009   408.429993
2512  7545  Microsoft Corporation   MSFT  2025-02-18  408.000000   409.640015
2513  7546  Microsoft Corporation   MSFT  2025-02-19  407.880005   414.769989
2514  7547  Microsoft Corporation   MSFT  2025-02-20  415.290009   416.130005
2515  7548  Microsoft Corporation   MSFT  2025-02-21  417.339996   408.209991

            high         low    volume
0      38.215681   37.748689  32518800
1      38.310816   37.982189  25271700
2      38.129208   37.878414  29759800
3      38.250279   37.956245  28957300
4      38.224345   37.757350  33807700
...          ...         ...       ...
2511  408.910004  405.880005  22758500
2512  410.600006  406.500000  21423100
2513  415.489990  407.649994  24114200
2514  419.309998  412.540009  23508700
2515  418.049988  407.890015  27448200

[2516 rows x 9 columns]

GOOGL data:
        id           name ticker        date  open_price  close_price  \
0     2517  Alphabet Inc.  GOOGL  2015-02-23   26.852656    26.653378
1     2518  Alphabet Inc.  GOOGL  2015-02-24   26.481503    26.835222
2     2519  Alphabet Inc.  GOOGL  2015-02-25   26.824760    27.267654
3     2520  Alphabet Inc.  GOOGL  2015-02-26   27.188438    27.863491
4     2521  Alphabet Inc.  GOOGL  2015-02-27   27.806698    28.029890
...    ...            ...    ...         ...         ...          ...
2511  5028  Alphabet Inc.  GOOGL  2025-02-14  185.059998   185.229996
2512  5029  Alphabet Inc.  GOOGL  2025-02-18  185.600006   183.770004
2513  5030  Alphabet Inc.  GOOGL  2025-02-19  184.070007   185.270004
2514  5031  Alphabet Inc.  GOOGL  2025-02-20  184.800003   184.559998
2515  5032  Alphabet Inc.  GOOGL  2025-02-21  185.149994   179.660004

            high         low    volume
0      26.867601   26.503920  32906000
1      26.872585   26.454102  28406000
2      27.379249   26.803336  40836000
3      27.905339   27.156055  54032000
4      28.368164   27.750901  68328000
...          ...         ...       ...
2511  186.399994  184.320007  20448400
2512  185.960007  181.740005  29916700
2513  185.460007  183.589996  19549400
2514  185.309998  182.720001  20441500
2515  185.339996  179.080002  35109600

[2516 rows x 9 columns]

AMZN data:
         id              name ticker        date  open_price  close_price  \
0      7549  Amazon.com, Inc.   AMZN  2015-02-23   19.172001    19.007000
1      7550  Amazon.com, Inc.   AMZN  2015-02-24   18.932501    18.929501
2      7551  Amazon.com, Inc.   AMZN  2015-02-25   18.863501    19.268499
3      7552  Amazon.com, Inc.   AMZN  2015-02-26   19.203501    19.240000
4      7553  Amazon.com, Inc.   AMZN  2015-02-27   19.200001    19.007999
...     ...               ...    ...         ...         ...          ...
2511  10060  Amazon.com, Inc.   AMZN  2025-02-14  229.199997   228.679993
2512  10061  Amazon.com, Inc.   AMZN  2025-02-18  228.820007   226.649994
2513  10062  Amazon.com, Inc.   AMZN  2025-02-19  225.520004   226.630005
2514  10063  Amazon.com, Inc.   AMZN  2025-02-20  224.779999   222.880005
2515  10064  Amazon.com, Inc.   AMZN  2025-02-21  223.279999   216.580002

            high         low    volume
0      19.226999   18.900000  43540000
1      19.024000   18.808001  38416000
2      19.392500   18.827000  63490000
3      19.468500   19.164000  53742000
4      19.299500   18.989500  50646000
...          ...         ...       ...
2511  229.889999  227.229996  27031100
2512  229.300003  223.720001  42975100
2513  226.830002  223.710007  28566700
2514  225.130005  221.809998  30001700
2515  223.309998  214.740005  55161000

[2516 rows x 9 columns]

TSLA data:
         id         name ticker        date  open_price  close_price  \
0     10065  Tesla, Inc.   TSLA  2015-02-23   14.377333    13.822667
1     10066  Tesla, Inc.   TSLA  2015-02-24   13.819333    13.607333
2     10067  Tesla, Inc.   TSLA  2015-02-25   13.662667    13.584000
3     10068  Tesla, Inc.   TSLA  2015-02-26   13.600000    13.812667
4     10069  Tesla, Inc.   TSLA  2015-02-27   13.793333    13.556000
...     ...          ...    ...         ...         ...          ...
2511  12576  Tesla, Inc.   TSLA  2025-02-14  360.619995   355.839996
2512  12577  Tesla, Inc.   TSLA  2025-02-18  355.010010   354.109985
2513  12578  Tesla, Inc.   TSLA  2025-02-19  354.000000   360.559998
2514  12579  Tesla, Inc.   TSLA  2025-02-20  361.510010   354.399994
2515  12580  Tesla, Inc.   TSLA  2025-02-21  353.440002   337.799988

            high         low     volume
0      14.546667   13.755333  127497000
1      13.819333   13.446667   99054000
2      13.809333   13.505333   58642500
3      14.072667   13.481333   97093500
4      13.903333   13.520000   58231500
...          ...         ...        ...
2511  362.000000  347.500000   68277300
2512  359.100006  350.019989   51631700
2513  367.339996  353.670013   67094400
2514  362.299988  348.000000   45965400
2515  354.980011  334.420013   73787800

[2516 rows x 9 columns]

NVDA data:
Empty DataFrame
Columns: [id, name, ticker, date, open_price, close_price, high, low, volume]
Index: []

META data:
Empty DataFrame
Columns: [id, name, ticker, date, open_price, close_price, high, low, volume]
Index: []

AMD data:
Empty DataFrame
Columns: [id, name, ticker, date, open_price, close_price, high, low, volume]
Index: []

INTC data:
Empty DataFrame
Columns: [id, name, ticker, date, open_price, close_price, high, low, volume]
Index: []

NFLX data:
Empty DataFrame
Columns: [id, name, ticker, date, open_price, close_price, high, low, volume]
Index: []

In [66]:
# check if any data is empty
engine = create_engine(DATABASE_URL)
Session = sessionmaker(bind=engine)
session = Session()

for ticker in tech_stocks:
    query = text(f'SELECT COUNT(*) FROM "{ticker}"')
    result = session.execute(query)
    count = result.fetchone()[0]
    print(f"\n{ticker} data count: {count}")

AAPL data count: 12578

MSFT data count: 12578

GOOGL data count: 12578

AMZN data count: 12578

TSLA data count: 12578

NVDA data count: 12580

META data count: 12578

AMD data count: 12578

INTC data count: 12578

NFLX data count: 12578

In [67]:
# look for any missing data
engine = create_engine(DATABASE_URL)
Session = sessionmaker(bind=engine)
session = Session()

for ticker in tech_stocks: 
    query = text(f'SELECT * FROM "{ticker}" WHERE date NOT IN (SELECT date FROM stocks WHERE ticker = :ticker)')
    result = session.execute(query, {'ticker': ticker})
    data = result.fetchall()
    df = pd.DataFrame(data, columns=result.keys())
    print(f"\n{ticker} missing data:")
    print(df)

AAPL missing data:
      id        date  open_price  close_price    high     low    volume
0  12578  2025-02-24      244.81        247.1  248.86  244.59  49562083
1  10063  2025-02-24      244.81        247.1  248.86  244.59  49562083

MSFT missing data:
      id        date  open_price  close_price    high     low    volume
0  12578  2025-02-24      408.51        404.0  409.37  399.32  26031701
1  10063  2025-02-24      408.51        404.0  409.37  399.32  26031701

GOOGL missing data:
      id        date  open_price  close_price    high     low    volume
0  12578  2025-02-24      181.87       179.25  183.12  178.89  29649347
1  10063  2025-02-24      181.87       179.25  183.12  178.89  29649347

AMZN missing data:
      id        date  open_price  close_price    high     low    volume
0  12578  2025-02-24      217.52       212.71  217.71  212.42  41999296
1  10063  2025-02-24      217.52       212.71  217.71  212.42  41999296

TSLA missing data:
      id        date  open_price  close_price   high    low    volume
0  12578  2025-02-24       338.1       330.53  342.4  324.7  74474500
1  10063  2025-02-24       338.1       330.53  342.4  324.7  74474500

NVDA missing data:
          id        date  open_price  close_price    high     low     volume
0      12526  2024-12-03      138.25       140.25  140.53  137.94  164414000
1      12527  2024-12-04      141.99       145.13  145.78  140.28  231224300
2      12528  2024-12-05      145.11       145.06  146.54  143.95  172621200
3      12529  2024-12-06      144.60       142.44  145.70  141.31  188505600
4      12530  2024-12-09      138.97       138.81  139.95  137.13  189308600
...      ...         ...         ...          ...     ...     ...        ...
12575  10060  2025-02-18      141.27       139.40  143.44  137.93  219176600
12576  10061  2025-02-19      139.51       139.23  141.36  137.22  167536000
12577  10062  2025-02-20      140.03       140.11  140.66  136.79  143903600
12578  10063  2025-02-21      140.04       134.43  141.46  134.03  227352400
12579  10064  2025-02-24      136.76       130.28  138.59  130.08  232080848

[12580 rows x 7 columns]

META missing data:
          id        date  open_price  close_price    high     low    volume
0      12525  2024-12-04      612.47       613.29  617.28  604.61  14697000
1      12526  2024-12-05      616.58       608.44  619.40  606.56   8081200
2      12527  2024-12-06      609.61       623.27  629.28  608.04  16935500
3      12528  2024-12-09      623.42       613.08  625.90  605.68  11426000
4      12529  2024-12-10      617.06       618.82  625.09  612.25  10938900
...      ...         ...         ...          ...     ...     ...       ...
12573  10059  2025-02-18      736.00       716.37  737.00  706.44  21938700
12574  10060  2025-02-19      704.10       703.77  707.00  695.39  17535500
12575  10061  2025-02-20      697.28       694.84  705.63  693.64  12587400
12576  10062  2025-02-21      696.58       683.55  703.87  682.36  15612000
12577  10063  2025-02-24      686.28       668.13  687.27  662.55  15576551

[12578 rows x 7 columns]

AMD missing data:
          id        date  open_price  close_price    high     low    volume
0      12525  2024-12-04      142.96       143.99  144.12  141.18  25942700
1      12526  2024-12-05      143.68       141.36  143.95  140.38  29576900
2      12527  2024-12-06      141.48       138.59  142.79  137.40  33576800
3      12528  2024-12-09      135.71       130.87  135.77  130.00  57055600
4      12529  2024-12-10      131.56       127.74  131.56  127.07  38907200
...      ...         ...         ...          ...     ...     ...       ...
12573  10059  2025-02-18      114.05       114.28  115.55  113.45  31720300
12574  10060  2025-02-19      114.25       114.69  116.11  113.14  28807700
12575  10061  2025-02-20      115.01       114.17  116.55  113.11  27219600
12576  10062  2025-02-21      114.85       110.84  115.76  110.43  41209500
12577  10063  2025-02-24      111.57       108.11  111.60  107.98  28159203

[12578 rows x 7 columns]

INTC missing data:
          id        date  open_price  close_price   high    low     volume
0      12525  2024-12-04       22.53        21.96  22.54  21.81  104649000
1      12526  2024-12-05       22.04        20.80  22.19  20.66  167993500
2      12527  2024-12-06       20.95        20.92  21.05  20.66   78539100
3      12528  2024-12-09       20.92        20.81  21.06  20.73   68818200
4      12529  2024-12-10       20.83        20.16  20.86  19.96   90004800
...      ...         ...         ...          ...    ...    ...        ...
12573  10059  2025-02-18       24.60        27.39  27.55  24.49  284292200
12574  10060  2025-02-19       25.98        25.72  26.33  25.46  151881700
12575  10061  2025-02-20       25.56        26.09  26.12  24.48  144939600
12576  10062  2025-02-21       25.96        24.87  26.29  24.84  111334700
12577  10063  2025-02-24       24.55        24.27  24.80  23.62   90172240

[12578 rows x 7 columns]

NFLX missing data:
          id        date  open_price  close_price     high      low   volume
0      12525  2024-12-04      898.05       911.06   915.97   898.05  2689600
1      12526  2024-12-05      917.85       917.87   927.00   911.11  2835300
2      12527  2024-12-06      915.23       934.74   935.27   912.71  2955400
3      12528  2024-12-09      928.00       913.69   930.30   902.59  3350100
4      12529  2024-12-10      913.76       913.35   922.88   909.58  2388600
...      ...         ...         ...          ...      ...      ...      ...
12573  10059  2025-02-18     1060.00      1035.85  1062.00  1023.75  4229300
12574  10060  2025-02-19     1035.18      1043.33  1045.00  1024.51  2600000
12575  10061  2025-02-20     1042.00      1024.54  1045.00  1015.59  3111800
12576  10062  2025-02-21     1029.42      1003.15  1032.38   999.39  3731600
12577  10063  2025-02-24     1008.00       988.47  1015.15   984.52  4348363

[12578 rows x 7 columns]