In [30]:
#pip install sqlalchemy psycopg2 yfinance pandas

In [31]:
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Date, Float, text, BigInteger
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [32]:
# List of major tech stocks to analyze
tech_stocks = ["AAPL", "MSFT", "GOOGL", "AMZN", "TSLA", "NVDA", "META", "AMD", "INTC", "NFLX"]

In [33]:
# Database connection string
DATABASE_URL = "postgresql+psycopg2://postgres:postgres@localhost/stock_db"

# Create engine and base
engine = create_engine(DATABASE_URL)
Base = declarative_base()

# Define the Stock table
class Stock(Base):
    __tablename__ = 'stocks'

    id = Column(Integer, primary_key=True)
    name = Column(String(100), nullable=False)
    ticker = Column(String(10), nullable=False)
    date = Column(Date, nullable=False)
    open_price = Column(Float, nullable=False)
    close_price = Column(Float, nullable=False)
    high = Column(Float, nullable=False)
    low = Column(Float, nullable=False)
    volume = Column(BigInteger, nullable=False)

# Create the table in the database
Base.metadata.create_all(engine)

# Fetch data from yfinance and store in PostgreSQL
Session = sessionmaker(bind=engine)
session = Session()

for ticker in tech_stocks:
    stock = yf.Ticker(ticker)
    data = stock.history(period="10y")
    data.reset_index(inplace=True)  # Ensure 'Date' is a column, not an index
    data['Date'] = data['Date'].dt.date  # Keep only the date part

    for index, row in data.iterrows():
        stock_record = Stock(
            name=stock.info['shortName'],
            ticker=ticker,
            date=row['Date'],
            open_price=row['Open'],
            close_price=row['Close'],
            high=row['High'],
            low=row['Low'],
            volume=row['Volume']
        )
        session.add(stock_record)

try:
    session.commit()
    print("Data successfully stored in the PostgreSQL database!")
except Exception as e:
    session.rollback()
    print("Failed to store data in the PostgreSQL database:", e)
finally:
    session.close()

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\1373005086.py:6: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

Failed to store data in the PostgreSQL database: (psycopg2.errors.NumericValueOutOfRange) integer out of range

[SQL: INSERT INTO stocks (name, ticker, date, open_price, close_price, high, low, volume) SELECT p0::VARCHAR, p1::VARCHAR, p2::DATE, p3::FLOAT, p4::FLOAT, p5::FLOAT, p6::FLOAT, p7::BIGINT FROM (VALUES (%(name__0)s, %(ticker__0)s, %(date__0)s, %(open_price_ ... 141971 characters truncated ... 1, p2, p3, p4, p5, p6, p7, sen_counter) ORDER BY sen_counter RETURNING stocks.id, stocks.id AS id__1]
[parameters: {'volume__0': 312084000, 'name__0': 'NVIDIA Corporation', 'high__0': 1.6713649298896975, 'low__0': 1.6307799193557906, 'close_price__0': 1.665953516960144, 'open_price__0': 1.6541470004287027, 'ticker__0': 'NVDA', 'date__0': datetime.date(2016, 10, 20), 'volume__1': 279508000, 'name__1': 'NVIDIA Corporation', 'high__1': 1.6642314574369246, 'low__1': 1.6455378191622019, 'close_price__1': 1.6612799167633057, 'open_price__1': 1.6600500397315725, 'ticker__1': 'NVDA', 'date__1': datetime.date(2016, 10, 21), 'volume__2': 339836000, 'name__2': 'NVIDIA Corporation', 'high__2': 1.7412199424232109, 'low__2': 1.672348357529341, 'close_price__2': 1.7392522096633911, 'open_price__2': 1.6725944267509003, 'ticker__2': 'NVDA', 'date__2': datetime.date(2016, 10, 24), 'volume__3': 397460000, 'name__3': 'NVIDIA Corporation', 'high__3': 1.7783615893168965, 'low__3': 1.7279378010499553, 'close_price__3': 1.767784833908081, 'open_price__3': 1.7363007542194062, 'ticker__3': 'NVDA', 'date__3': datetime.date(2016, 10, 25), 'volume__4': 333792000, 'name__4': 'NVIDIA Corporation', 'high__4': 1.7943494514216438, 'low__4': 1.7513046957040659, 'close_price__4': 1.7749178409576416, 'open_price__4': 1.7530264765497672, 'ticker__4': 'NVDA', 'date__4': datetime.date(2016, 10, 26), 'volume__5': 388664000, 'name__5': 'NVIDIA Corporation', 'high__5': 1.7918896235412014, 'low__5': 1.731381109926418, 'close_price__5': 1.7385141849517822, 'open_price__5': 1.7884460619918865, 'ticker__5': 'NVDA', 'date__5': datetime.date(2016, 10, 27), 'volume__6': 290856000, 'name__6': 'NVIDIA Corporation' ... 7900 parameters truncated ... 'ticker__993': 'NVDA', 'date__993': datetime.date(2020, 10, 1), 'volume__994': 552496000, 'name__994': 'NVIDIA Corporation', 'high__994': 13.481290759971055, 'low__994': 13.014114704955423, 'close_price__994': 13.025333404541016, 'open_price__994': 13.187623681431667, 'ticker__994': 'NVDA', 'date__994': datetime.date(2020, 10, 2), 'volume__995': 479820000, 'name__995': 'NVIDIA Corporation', 'high__995': 13.605688871353124, 'low__995': 13.185379898911647, 'close_price__995': 13.603943824768066, 'open_price__995': 13.19859280204667, 'ticker__995': 'NVDA', 'date__995': datetime.date(2020, 10, 5), 'volume__996': 784420000, 'name__996': 'NVIDIA Corporation', 'high__996': 14.102031996713979, 'low__996': 13.626379860992786, 'close_price__996': 13.697677612304688, 'open_price__996': 13.790913499012188, 'ticker__996': 'NVDA', 'date__996': datetime.date(2020, 10, 6), 'volume__997': 418084000, 'name__997': 'NVIDIA Corporation', 'high__997': 14.079345614778438, 'low__997': 13.824317776688677, 'close_price__997': 13.92453384399414, 'open_price__997': 13.960183193172178, 'ticker__997': 'NVDA', 'date__997': datetime.date(2020, 10, 7), 'volume__998': 378900000, 'name__998': 'NVIDIA Corporation', 'high__998': 14.04469172261893, 'low__998': 13.719114606755895, 'close_price__998': 13.799635887145996, 'open_price__998': 14.035218071409012, 'ticker__998': 'NVDA', 'date__998': datetime.date(2020, 10, 8), 'volume__999': 346892000, 'name__999': 'NVIDIA Corporation', 'high__999': 13.785179846490768, 'low__999': 13.622142100860295, 'close_price__999': 13.72385311126709, 'open_price__999': 13.728091624771801, 'ticker__999': 'NVDA', 'date__999': datetime.date(2020, 10, 9)}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

In [34]:
# seperate each stock in different table
for ticker in tech_stocks:
    stock = yf.Ticker(ticker)
    data = stock.history(period="10y")
    data.reset_index(inplace=True)  # Ensure 'Date' is a column, not an index
    data['Date'] = data['Date'].dt.date  # Keep only the date part

    # Define the Stock table
    class Stock(Base):
        __tablename__ = ticker

        id = Column(Integer, primary_key=True)
        date = Column(Date, nullable=False)
        open_price = Column(Float, nullable=False)
        close_price = Column(Float, nullable=False)
        high = Column(Float, nullable=False)
        low = Column(Float, nullable=False)
        volume = Column(BigInteger, nullable=False)

    # Create the table in the database
    Base.metadata.create_all(engine)

    Session = sessionmaker(bind=engine)
    session = Session()

    for index, row in data.iterrows():
        stock_record = Stock(
            date=row['Date'],
            open_price=row['Open'],
            close_price=row['Close'],
            high=row['High'],
            low=row['Low'],
            volume=row['Volume']
        )
        session.add(stock_record)

    try:
        session.commit()
        print(f"Data for {ticker} successfully stored in the PostgreSQL database!")
    except Exception as e:
        session.rollback()
        print(f"Failed to store data for {ticker} in the PostgreSQL database:", e)
    finally:
        session.close()

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for AAPL successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for MSFT successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for GOOGL successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for AMZN successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for TSLA successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for NVDA successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for META successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for AMD successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for INTC successfully stored in the PostgreSQL database!

C:\Users\Owner\AppData\Local\Temp\ipykernel_11636\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for NFLX successfully stored in the PostgreSQL database!

In [35]:

# Create engine and session
engine = create_engine(DATABASE_URL)
Session = sessionmaker(bind=engine)
session = Session()

for ticker in tech_stocks:
    query = text(f'SELECT * FROM stocks WHERE ticker = :ticker')
    result = session.execute(query, {'ticker': ticker})
    data = result.fetchall()
    df = pd.DataFrame(data, columns=result.keys())
    print(f"\n{ticker} data:")
    print(df)

session.close()

AAPL data:
        id        name ticker        date  open_price  close_price  \
0        1  Apple Inc.   AAPL  2015-02-23   29.037073    29.702589
1        2  Apple Inc.   AAPL  2015-02-24   29.689189    29.517225
2        3  Apple Inc.   AAPL  2015-02-25   29.380988    28.762369
3        4  Apple Inc.   AAPL  2015-02-26   28.762365    29.126390
4        5  Apple Inc.   AAPL  2015-02-27   29.032598    28.688675
...    ...         ...    ...         ...         ...          ...
2511  2512  Apple Inc.   AAPL  2025-02-14  241.250000   244.600006
2512  2513  Apple Inc.   AAPL  2025-02-18  244.149994   244.470001
2513  2514  Apple Inc.   AAPL  2025-02-19  244.660004   244.869995
2514  2515  Apple Inc.   AAPL  2025-02-20  244.940002   245.830002
2515  2516  Apple Inc.   AAPL  2025-02-21  245.949997   245.550003

            high         low     volume
0      29.702589   28.956675  283896400
1      29.836586   29.293898  276912400
2      29.389923   28.619440  298846800
3      29.226887   28.275513  365150000
4      29.159896   28.639543  248059200
...          ...         ...        ...
2511  245.550003  240.990005   40896200
2512  245.179993  241.839996   48822500
2513  246.009995  243.160004   32204200
2514  246.779999  244.289993   32316900
2515  248.690002  245.220001   53119400

[2516 rows x 9 columns]

MSFT data:
        id                   name ticker        date  open_price  close_price  \
0     5033  Microsoft Corporation   MSFT  2015-02-23   37.791929    38.181091
1     5034  Microsoft Corporation   MSFT  2015-02-24   38.181097    38.129208
2     5035  Microsoft Corporation   MSFT  2015-02-25   38.008135    38.042728
3     5036  Microsoft Corporation   MSFT  2015-02-26   38.042728    38.103264
4     5037  Microsoft Corporation   MSFT  2015-02-27   38.163809    37.921661
...    ...                    ...    ...         ...         ...          ...
2511  7544  Microsoft Corporation   MSFT  2025-02-14  407.790009   408.429993
2512  7545  Microsoft Corporation   MSFT  2025-02-18  408.000000   409.640015
2513  7546  Microsoft Corporation   MSFT  2025-02-19  407.880005   414.769989
2514  7547  Microsoft Corporation   MSFT  2025-02-20  415.290009   416.130005
2515  7548  Microsoft Corporation   MSFT  2025-02-21  417.339996   408.209991

            high         low    volume
0      38.215681   37.748689  32518800
1      38.310816   37.982189  25271700
2      38.129208   37.878414  29759800
3      38.250279   37.956245  28957300
4      38.224345   37.757350  33807700
...          ...         ...       ...
2511  408.910004  405.880005  22758500
2512  410.600006  406.500000  21423100
2513  415.489990  407.649994  24114200
2514  419.309998  412.540009  23508700
2515  418.049988  407.890015  27448200

[2516 rows x 9 columns]

GOOGL data:
        id           name ticker        date  open_price  close_price  \
0     2517  Alphabet Inc.  GOOGL  2015-02-23   26.852656    26.653378
1     2518  Alphabet Inc.  GOOGL  2015-02-24   26.481503    26.835222
2     2519  Alphabet Inc.  GOOGL  2015-02-25   26.824760    27.267654
3     2520  Alphabet Inc.  GOOGL  2015-02-26   27.188438    27.863491
4     2521  Alphabet Inc.  GOOGL  2015-02-27   27.806698    28.029890
...    ...            ...    ...         ...         ...          ...
2511  5028  Alphabet Inc.  GOOGL  2025-02-14  185.059998   185.229996
2512  5029  Alphabet Inc.  GOOGL  2025-02-18  185.600006   183.770004
2513  5030  Alphabet Inc.  GOOGL  2025-02-19  184.070007   185.270004
2514  5031  Alphabet Inc.  GOOGL  2025-02-20  184.800003   184.559998
2515  5032  Alphabet Inc.  GOOGL  2025-02-21  185.149994   179.660004

            high         low    volume
0      26.867601   26.503920  32906000
1      26.872585   26.454102  28406000
2      27.379249   26.803336  40836000
3      27.905339   27.156055  54032000
4      28.368164   27.750901  68328000
...          ...         ...       ...
2511  186.399994  184.320007  20448400
2512  185.960007  181.740005  29916700
2513  185.460007  183.589996  19549400
2514  185.309998  182.720001  20441500
2515  185.339996  179.080002  35109600

[2516 rows x 9 columns]

AMZN data:
         id              name ticker        date  open_price  close_price  \
0      7549  Amazon.com, Inc.   AMZN  2015-02-23   19.172001    19.007000
1      7550  Amazon.com, Inc.   AMZN  2015-02-24   18.932501    18.929501
2      7551  Amazon.com, Inc.   AMZN  2015-02-25   18.863501    19.268499
3      7552  Amazon.com, Inc.   AMZN  2015-02-26   19.203501    19.240000
4      7553  Amazon.com, Inc.   AMZN  2015-02-27   19.200001    19.007999
...     ...               ...    ...         ...         ...          ...
2511  10060  Amazon.com, Inc.   AMZN  2025-02-14  229.199997   228.679993
2512  10061  Amazon.com, Inc.   AMZN  2025-02-18  228.820007   226.649994
2513  10062  Amazon.com, Inc.   AMZN  2025-02-19  225.520004   226.630005
2514  10063  Amazon.com, Inc.   AMZN  2025-02-20  224.779999   222.880005
2515  10064  Amazon.com, Inc.   AMZN  2025-02-21  223.279999   216.580002

            high         low    volume
0      19.226999   18.900000  43540000
1      19.024000   18.808001  38416000
2      19.392500   18.827000  63490000
3      19.468500   19.164000  53742000
4      19.299500   18.989500  50646000
...          ...         ...       ...
2511  229.889999  227.229996  27031100
2512  229.300003  223.720001  42975100
2513  226.830002  223.710007  28566700
2514  225.130005  221.809998  30001700
2515  223.309998  214.740005  55161000

[2516 rows x 9 columns]

TSLA data:
         id         name ticker        date  open_price  close_price  \
0     10065  Tesla, Inc.   TSLA  2015-02-23   14.377333    13.822667
1     10066  Tesla, Inc.   TSLA  2015-02-24   13.819333    13.607333
2     10067  Tesla, Inc.   TSLA  2015-02-25   13.662667    13.584000
3     10068  Tesla, Inc.   TSLA  2015-02-26   13.600000    13.812667
4     10069  Tesla, Inc.   TSLA  2015-02-27   13.793333    13.556000
...     ...          ...    ...         ...         ...          ...
2511  12576  Tesla, Inc.   TSLA  2025-02-14  360.619995   355.839996
2512  12577  Tesla, Inc.   TSLA  2025-02-18  355.010010   354.109985
2513  12578  Tesla, Inc.   TSLA  2025-02-19  354.000000   360.559998
2514  12579  Tesla, Inc.   TSLA  2025-02-20  361.510010   354.399994
2515  12580  Tesla, Inc.   TSLA  2025-02-21  353.440002   337.799988

            high         low     volume
0      14.546667   13.755333  127497000
1      13.819333   13.446667   99054000
2      13.809333   13.505333   58642500
3      14.072667   13.481333   97093500
4      13.903333   13.520000   58231500
...          ...         ...        ...
2511  362.000000  347.500000   68277300
2512  359.100006  350.019989   51631700
2513  367.339996  353.670013   67094400
2514  362.299988  348.000000   45965400
2515  354.980011  334.420013   73787800

[2516 rows x 9 columns]

NVDA data:
Empty DataFrame
Columns: [id, name, ticker, date, open_price, close_price, high, low, volume]
Index: []

META data:
Empty DataFrame
Columns: [id, name, ticker, date, open_price, close_price, high, low, volume]
Index: []

AMD data:
Empty DataFrame
Columns: [id, name, ticker, date, open_price, close_price, high, low, volume]
Index: []

INTC data:
Empty DataFrame
Columns: [id, name, ticker, date, open_price, close_price, high, low, volume]
Index: []

NFLX data:
Empty DataFrame
Columns: [id, name, ticker, date, open_price, close_price, high, low, volume]
Index: []