In [58]:
#pip install sqlalchemy psycopg2 yfinance pandas

In [10]:
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Date, Float, text, BigInteger
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [11]:
# List of major tech stocks to analyze
tech_stocks = ["AAPL", "MSFT", "GOOGL", "AMZN", "TSLA", "NVDA", "META", "AMD", "INTC", "NFLX"]

In [12]:
# Create a database connection
username = "postgres"
password = "ilknur325"

In [14]:
# Database connection string
#DATABASE_URL = "postgresql+psycopg2://postgres:postgres@localhost/stock_db"
DATABASE_URL = f"postgresql://{username}:{password}@localhost/stock_db"

# Create engine and base
engine = create_engine(DATABASE_URL)
Base = declarative_base()   

# Define the Stock table
class Stock(Base):
    __tablename__ = 'stocks'

    id = Column(Integer, primary_key=True)
    name = Column(String(100), nullable=False)
    ticker = Column(String(10), nullable=False)
    date = Column(Date, nullable=False)
    open_price = Column(Float, nullable=False)
    close_price = Column(Float, nullable=False)
    high = Column(Float, nullable=False)
    low = Column(Float, nullable=False)
    volume = Column(BigInteger, nullable=False)

# Create the table in the database
Base.metadata.create_all(engine)

# Fetch data from yfinance and store in PostgreSQL
Session = sessionmaker(bind=engine)
session = Session()

for ticker in tech_stocks:
    stock = yf.Ticker(ticker)
    data = stock.history(period="10y")
    data.reset_index(inplace=True)  # Ensure 'Date' is a column, not an index
    data['Date'] = data['Date'].dt.date  # Keep only the date part

    for index, row in data.iterrows():
        stock_record = Stock(
            name=stock.info['shortName'],
            ticker=ticker,
            date=row['Date'],
            open_price=row['Open'],
            close_price=row['Close'],
            high=row['High'],
            low=row['Low'],
            volume=row['Volume']
        )
        session.add(stock_record)

try:
    session.commit()
    print("Data successfully stored in the PostgreSQL database!")
except Exception as e:
    session.rollback()
    print("Failed to store data in the PostgreSQL database:", e)
finally:
    session.close()

C:\Users\ilknu\AppData\Local\Temp\ipykernel_16808\4247154038.py:7: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

Data successfully stored in the PostgreSQL database!

In [15]:
# seperate each stock in different table
for ticker in tech_stocks:
    stock = yf.Ticker(ticker)
    data = stock.history(period="10y")
    data.reset_index(inplace=True)  # Ensure 'Date' is a column, not an index
    data['Date'] = data['Date'].dt.date  # Keep only the date part

    # Define the Stock table
    class Stock(Base):
        __tablename__ = ticker

        id = Column(Integer, primary_key=True)
        date = Column(Date, nullable=False)
        open_price = Column(Float, nullable=False)
        close_price = Column(Float, nullable=False)
        high = Column(Float, nullable=False)
        low = Column(Float, nullable=False)
        volume = Column(BigInteger, nullable=False)

    # Create the table in the database
    Base.metadata.create_all(engine)

    Session = sessionmaker(bind=engine)
    session = Session()

    for index, row in data.iterrows():
        stock_record = Stock(
            date=row['Date'],
            open_price=row['Open'],
            close_price=row['Close'],
            high=row['High'],
            low=row['Low'],
            volume=row['Volume']
        )
        session.add(stock_record)

    try:
        session.commit()
        print(f"Data for {ticker} successfully stored in the PostgreSQL database!")
    except Exception as e:
        session.rollback()
        print(f"Failed to store data for {ticker} in the PostgreSQL database:", e)
    finally:
        session.close()

C:\Users\ilknu\AppData\Local\Temp\ipykernel_16808\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for AAPL successfully stored in the PostgreSQL database!

C:\Users\ilknu\AppData\Local\Temp\ipykernel_16808\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for MSFT successfully stored in the PostgreSQL database!

C:\Users\ilknu\AppData\Local\Temp\ipykernel_16808\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for GOOGL successfully stored in the PostgreSQL database!

C:\Users\ilknu\AppData\Local\Temp\ipykernel_16808\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for AMZN successfully stored in the PostgreSQL database!

C:\Users\ilknu\AppData\Local\Temp\ipykernel_16808\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for TSLA successfully stored in the PostgreSQL database!

C:\Users\ilknu\AppData\Local\Temp\ipykernel_16808\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for NVDA successfully stored in the PostgreSQL database!

C:\Users\ilknu\AppData\Local\Temp\ipykernel_16808\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for META successfully stored in the PostgreSQL database!

C:\Users\ilknu\AppData\Local\Temp\ipykernel_16808\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for AMD successfully stored in the PostgreSQL database!

C:\Users\ilknu\AppData\Local\Temp\ipykernel_16808\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for INTC successfully stored in the PostgreSQL database!

C:\Users\ilknu\AppData\Local\Temp\ipykernel_16808\2102539817.py:9: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Stock, and will be replaced in the string-lookup table.
  class Stock(Base):

Data for NFLX successfully stored in the PostgreSQL database!

In [16]:
# Initialize database connection
engine = create_engine(DATABASE_URL)
Session = sessionmaker(bind=engine)
session = Session()

# Loop through tech stocks and update prices to 2 decimal places
for ticker in tech_stocks:
    query = text(f"""
        UPDATE "{ticker}" 
        SET open_price = ROUND(open_price::numeric, 2), 
            close_price = ROUND(close_price::numeric, 2), 
            high = ROUND(high::numeric, 2), 
            low = ROUND(low::numeric, 2)
    """)
    session.execute(query)

# Commit the transaction to save changes
session.commit()

# Close session
session.close()

In [17]:

# Create engine and session
engine = create_engine(DATABASE_URL)
Session = sessionmaker(bind=engine)
session = Session()

for ticker in tech_stocks:
    query = text(f'SELECT * FROM stocks WHERE ticker = :ticker')
    result = session.execute(query, {'ticker': ticker})
    data = result.fetchall()
    df = pd.DataFrame(data, columns=result.keys())
    print(f"\n{ticker} data:")
    print(df)

session.close()

AAPL data:
        id        name ticker        date  open_price  close_price  \
0        1  Apple Inc.   AAPL  2015-02-25   29.380986    28.762367
1        2  Apple Inc.   AAPL  2015-02-26   28.762367    29.126392
2        3  Apple Inc.   AAPL  2015-02-27   29.032602    28.688679
3        4  Apple Inc.   AAPL  2015-03-02   28.865102    28.829369
4        5  Apple Inc.   AAPL  2015-03-03   28.800334    28.889664
...    ...         ...    ...         ...         ...          ...
2510  2511  Apple Inc.   AAPL  2025-02-18  244.149994   244.470001
2511  2512  Apple Inc.   AAPL  2025-02-19  244.660004   244.869995
2512  2513  Apple Inc.   AAPL  2025-02-20  244.940002   245.830002
2513  2514  Apple Inc.   AAPL  2025-02-21  245.949997   245.550003
2514  2515  Apple Inc.   AAPL  2025-02-24  244.807999   247.100006

            high         low     volume
0      29.389921   28.619438  298846800
1      29.226889   28.275515  365150000
2      29.159900   28.639546  248059200
3      29.095129   28.652941  192386800
4      28.925397   28.606037  151265200
...          ...         ...        ...
2510  245.179993  241.839996   48822500
2511  246.009995  243.160004   32204200
2512  246.779999  244.289993   32316900
2513  248.690002  245.220001   53119400
2514  248.860001  244.589996   51143732

[2515 rows x 9 columns]

MSFT data:
        id                   name ticker        date  open_price  close_price  \
0     2516  Microsoft Corporation   MSFT  2015-02-25   38.008135    38.042728
1     2517  Microsoft Corporation   MSFT  2015-02-26   38.042724    38.103260
2     2518  Microsoft Corporation   MSFT  2015-02-27   38.163805    37.921658
3     2519  Microsoft Corporation   MSFT  2015-03-02   37.765979    37.947590
4     2520  Microsoft Corporation   MSFT  2015-03-03   37.670870    37.428722
...    ...                    ...    ...         ...         ...          ...
2510  5026  Microsoft Corporation   MSFT  2025-02-18  408.000000   409.640015
2511  5027  Microsoft Corporation   MSFT  2025-02-19  407.880005   414.769989
2512  5028  Microsoft Corporation   MSFT  2025-02-20  415.290009   416.130005
2513  5029  Microsoft Corporation   MSFT  2025-02-21  417.339996   408.209991
2514  5030  Microsoft Corporation   MSFT  2025-02-24  408.510010   404.000000

            high         low    volume
0      38.129208   37.878414  29759800
1      38.250275   37.956242  28957300
2      38.224341   37.757346  33807700
3      38.215677   37.662203  31924000
4      37.904367   37.264411  31748600
...          ...         ...       ...
2510  410.600006  406.500000  21423100
2511  415.489990  407.649994  24114200
2512  419.309998  412.540009  23508700
2513  418.049988  407.890015  27448200
2514  409.369995  399.320007  26031701

[2515 rows x 9 columns]

GOOGL data:
        id           name ticker        date  open_price  close_price  \
0     5031  Alphabet Inc.  GOOGL  2015-02-25   26.824760    27.267654
1     5032  Alphabet Inc.  GOOGL  2015-02-26   27.188440    27.863493
2     5033  Alphabet Inc.  GOOGL  2015-02-27   27.806698    28.029890
3     5034  Alphabet Inc.  GOOGL  2015-03-02   28.247601    28.647152
4     5035  Alphabet Inc.  GOOGL  2015-03-03   28.713409    28.834970
...    ...            ...    ...         ...         ...          ...
2510  7541  Alphabet Inc.  GOOGL  2025-02-18  185.600006   183.770004
2511  7542  Alphabet Inc.  GOOGL  2025-02-19  184.070007   185.270004
2512  7543  Alphabet Inc.  GOOGL  2025-02-20  184.800003   184.559998
2513  7544  Alphabet Inc.  GOOGL  2025-02-21  185.149994   179.660004
2514  7545  Alphabet Inc.  GOOGL  2025-02-24  181.869995   179.250000

            high         low    volume
0      27.379249   26.803336  40836000
1      27.905341   27.156056  54032000
2      28.368164   27.750901  68328000
3      28.695477   28.055796  50406000
4      28.937597   28.421966  50526000
...          ...         ...       ...
2510  185.960007  181.740005  29916700
2511  185.460007  183.589996  19549400
2512  185.309998  182.720001  20441500
2513  185.339996  179.080002  35109600
2514  183.119995  178.889999  29731402

[2515 rows x 9 columns]

AMZN data:
         id              name ticker        date  open_price  close_price  \
0      7546  Amazon.com, Inc.   AMZN  2015-02-25   18.863501    19.268499
1      7547  Amazon.com, Inc.   AMZN  2015-02-26   19.203501    19.240000
2      7548  Amazon.com, Inc.   AMZN  2015-02-27   19.200001    19.007999
3      7549  Amazon.com, Inc.   AMZN  2015-03-02   19.042500    19.283001
4      7550  Amazon.com, Inc.   AMZN  2015-03-03   19.197500    19.230499
...     ...               ...    ...         ...         ...          ...
2510  10056  Amazon.com, Inc.   AMZN  2025-02-18  228.820007   226.649994
2511  10057  Amazon.com, Inc.   AMZN  2025-02-19  225.520004   226.630005
2512  10058  Amazon.com, Inc.   AMZN  2025-02-20  224.779999   222.880005
2513  10059  Amazon.com, Inc.   AMZN  2025-02-21  223.279999   216.580002
2514  10060  Amazon.com, Inc.   AMZN  2025-02-24  217.516907   212.710007

            high         low    volume
0      19.392500   18.827000  63490000
1      19.468500   19.164000  53742000
2      19.299500   18.989500  50646000
3      19.295000   18.974001  42784000
4      19.305000   19.080000  38930000
...          ...         ...       ...
2510  229.300003  223.720001  42975100
2511  226.830002  223.710007  28566700
2512  225.130005  221.809998  30001700
2513  223.309998  214.740005  55161000
2514  217.714996  212.419998  42196592

[2515 rows x 9 columns]

TSLA data:
         id         name ticker        date  open_price  close_price  \
0     10061  Tesla, Inc.   TSLA  2015-02-25   13.662667    13.584000
1     10062  Tesla, Inc.   TSLA  2015-02-26   13.600000    13.812667
2     10063  Tesla, Inc.   TSLA  2015-02-27   13.793333    13.556000
3     10064  Tesla, Inc.   TSLA  2015-03-02   13.513333    13.155333
4     10065  Tesla, Inc.   TSLA  2015-03-03   13.120667    13.304000
...     ...          ...    ...         ...         ...          ...
2510  12571  Tesla, Inc.   TSLA  2025-02-18  355.010010   354.109985
2511  12572  Tesla, Inc.   TSLA  2025-02-19  354.000000   360.559998
2512  12573  Tesla, Inc.   TSLA  2025-02-20  361.510010   354.399994
2513  12574  Tesla, Inc.   TSLA  2025-02-21  353.440002   337.799988
2514  12575  Tesla, Inc.   TSLA  2025-02-24  338.100006   330.529999

            high         low     volume
0      13.809333   13.505333   58642500
1      14.072667   13.481333   97093500
2      13.903333   13.520000   58231500
3      13.556000   13.055333  118831500
4      13.349333   13.021333   66484500
...          ...         ...        ...
2510  359.100006  350.019989   51631700
2511  367.339996  353.670013   67094400
2512  362.299988  348.000000   45965400
2513  354.980011  334.420013   73787800
2514  342.397308  324.700012   75157805

[2515 rows x 9 columns]

NVDA data:
         id                name ticker        date  open_price  close_price  \
0     12576  NVIDIA Corporation   NVDA  2015-02-24         NaN          NaN
1     12577  NVIDIA Corporation   NVDA  2015-02-25    0.535359     0.533432
2     12578  NVIDIA Corporation   NVDA  2015-02-26    0.533914     0.534877
3     12579  NVIDIA Corporation   NVDA  2015-02-27    0.533432     0.531505
4     12580  NVIDIA Corporation   NVDA  2015-03-02    0.530059     0.544515
...     ...                 ...    ...         ...         ...          ...
2511  15087  NVIDIA Corporation   NVDA  2025-02-18  141.270004   139.399994
2512  15088  NVIDIA Corporation   NVDA  2025-02-19  139.509995   139.229996
2513  15089  NVIDIA Corporation   NVDA  2025-02-20  140.029999   140.110001
2514  15090  NVIDIA Corporation   NVDA  2025-02-21  140.039993   134.429993
2515  15091  NVIDIA Corporation   NVDA  2025-02-24  136.755005   130.279999

            high         low     volume
0            NaN         NaN          0
1       0.537769    0.531023  123820000
2       0.538010    0.530541  152864000
3       0.534637    0.529577  157492000
4       0.547406    0.529336  301512000
...          ...         ...        ...
2511  143.440002  137.929993  219176600
2512  141.360001  137.220001  167536000
2513  140.660004  136.789993  143903600
2514  141.460007  134.029999  227352400
2515  138.589996  130.080002  249391236

[2516 rows x 9 columns]

META data:
         id                  name ticker        date  open_price  close_price  \
0     15092  Meta Platforms, Inc.   META  2015-02-25   78.201276    79.257240
1     15093  Meta Platforms, Inc.   META  2015-02-26   79.576022    80.104012
2     15094  Meta Platforms, Inc.   META  2015-02-27   80.372979    78.669487
3     15095  Meta Platforms, Inc.   META  2015-03-02   78.699372    79.446518
4     15096  Meta Platforms, Inc.   META  2015-03-03   79.307053    79.297089
...     ...                   ...    ...         ...         ...          ...
2510  17602  Meta Platforms, Inc.   META  2025-02-18  736.000000   716.369995
2511  17603  Meta Platforms, Inc.   META  2025-02-19  704.099976   703.770020
2512  17604  Meta Platforms, Inc.   META  2025-02-20  697.280029   694.840027
2513  17605  Meta Platforms, Inc.   META  2025-02-21  696.580017   683.549988
2514  17606  Meta Platforms, Inc.   META  2025-02-24  686.280029   668.130005

            high         low    volume
0      79.894804   78.201276  25593800
1      81.060357   79.416635  31111900
2      80.920889   78.320820  30739200
3      79.556100   78.221195  21662500
4      79.396707   78.221197  18635000
...          ...         ...       ...
2510  737.000000  706.440002  21938700
2511  707.000000  695.390015  17535500
2512  705.630005  693.640015  12587400
2513  703.869995  682.359985  15612000
2514  687.270020  662.549988  15576551

[2515 rows x 9 columns]

AMD data:
         id                          name ticker        date  open_price  \
0     17607  Advanced Micro Devices, Inc.    AMD  2015-02-25    3.080000
1     17608  Advanced Micro Devices, Inc.    AMD  2015-02-26    3.100000
2     17609  Advanced Micro Devices, Inc.    AMD  2015-02-27    3.070000
3     17610  Advanced Micro Devices, Inc.    AMD  2015-03-02    3.130000
4     17611  Advanced Micro Devices, Inc.    AMD  2015-03-03    3.200000
...     ...                           ...    ...         ...         ...
2510  20117  Advanced Micro Devices, Inc.    AMD  2025-02-18  114.050003
2511  20118  Advanced Micro Devices, Inc.    AMD  2025-02-19  114.250000
2512  20119  Advanced Micro Devices, Inc.    AMD  2025-02-20  115.010002
2513  20120  Advanced Micro Devices, Inc.    AMD  2025-02-21  114.849998
2514  20121  Advanced Micro Devices, Inc.    AMD  2025-02-24  111.565002

      close_price        high         low    volume
0        3.100000    3.140000    3.060000   6151300
1        3.080000    3.130000    3.060000   8680900
2        3.110000    3.120000    3.070000   7150200
3        3.210000    3.230000    3.110000  15638100
4        3.140000    3.230000    3.130000   8644000
...           ...         ...         ...       ...
2510   114.279999  115.550003  113.449997  31720300
2511   114.690002  116.110001  113.139999  28807700
2512   114.169998  116.550003  113.110001  27219600
2513   110.839996  115.760002  110.430000  41209500
2514   108.110001  111.599998  107.980003  28159203

[2515 rows x 9 columns]

INTC data:
         id               name ticker        date  open_price  close_price  \
0     20122  Intel Corporation   INTC  2015-02-25   26.296089    26.234272
1     20123  Intel Corporation   INTC  2015-02-26   25.979265    26.002449
2     20124  Intel Corporation   INTC  2015-02-27   25.986989    25.693350
3     20125  Intel Corporation   INTC  2015-03-02   25.724265    26.319269
4     20126  Intel Corporation   INTC  2015-03-03   26.234266    26.350174
...     ...                ...    ...         ...         ...          ...
2510  22632  Intel Corporation   INTC  2025-02-18   24.600000    27.389999
2511  22633  Intel Corporation   INTC  2025-02-19   25.980000    25.719999
2512  22634  Intel Corporation   INTC  2025-02-20   25.559999    26.090000
2513  22635  Intel Corporation   INTC  2025-02-21   25.959999    24.870001
2514  22636  Intel Corporation   INTC  2025-02-24   24.548000    24.270000

           high        low     volume
0     26.388819  26.064270   24686300
1     26.180177  25.832447   25928400
2     25.994715  25.662440   24427300
3     26.373360  25.592899   25406400
4     26.566541  26.203356   27332000
...         ...        ...        ...
2510  27.549999  24.490000  284292200
2511  26.330000  25.459999  151881700
2512  26.120001  24.480000  144939600
2513  26.290001  24.840000  111334700
2514  24.799999  23.620001   90172240

[2515 rows x 9 columns]

NFLX data:
         id           name ticker        date   open_price  close_price  \
0     22637  Netflix, Inc.   NFLX  2015-02-25    67.807144    68.332855
1     22638  Netflix, Inc.   NFLX  2015-02-26    68.625717    69.004288
2     22639  Netflix, Inc.   NFLX  2015-02-27    69.081429    67.844284
3     22640  Netflix, Inc.   NFLX  2015-03-02    67.714287    68.607140
4     22641  Netflix, Inc.   NFLX  2015-03-03    68.344284    67.815712
...     ...            ...    ...         ...          ...          ...
2510  25147  Netflix, Inc.   NFLX  2025-02-18  1060.000000  1035.849976
2511  25148  Netflix, Inc.   NFLX  2025-02-19  1035.180054  1043.329956
2512  25149  Netflix, Inc.   NFLX  2025-02-20  1042.000000  1024.540039
2513  25150  Netflix, Inc.   NFLX  2025-02-21  1029.420044  1003.150024
2514  25151  Netflix, Inc.   NFLX  2025-02-24  1008.000000   988.469971

             high          low    volume
0       68.794289    67.807144   6854400
1       69.500000    68.430000  10852800
2       69.428574    67.818573  11516400
3       68.607140    67.234283  10187100
4       68.457146    67.507141   7426300
...           ...          ...       ...
2510  1062.000000  1023.750000   4229300
2511  1045.000000  1024.510010   2600000
2512  1045.000000  1015.590027   3111800
2513  1032.380005   999.390015   3731600
2514  1015.150024   984.520020   4348363

[2515 rows x 9 columns]

In [18]:
# check if any data is empty
engine = create_engine(DATABASE_URL)
Session = sessionmaker(bind=engine)
session = Session()

for ticker in tech_stocks:
    query = text(f'SELECT COUNT(*) FROM "{ticker}"')
    result = session.execute(query)
    count = result.fetchone()[0]
    print(f"\n{ticker} data count: {count}")

AAPL data count: 2515

MSFT data count: 2515

GOOGL data count: 2515

AMZN data count: 2515

TSLA data count: 2515

NVDA data count: 2516

META data count: 2515

AMD data count: 2515

INTC data count: 2515

NFLX data count: 2515

In [19]:
# look for any missing data
engine = create_engine(DATABASE_URL)
Session = sessionmaker(bind=engine)
session = Session()

for ticker in tech_stocks: 
    query = text(f'SELECT * FROM "{ticker}" WHERE date NOT IN (SELECT date FROM stocks WHERE ticker = :ticker)')
    result = session.execute(query, {'ticker': ticker})
    data = result.fetchall()
    df = pd.DataFrame(data, columns=result.keys())
    print(f"\n{ticker} missing data:")
    print(df)

AAPL missing data:
Empty DataFrame
Columns: [id, date, open_price, close_price, high, low, volume]
Index: []

MSFT missing data:
Empty DataFrame
Columns: [id, date, open_price, close_price, high, low, volume]
Index: []

GOOGL missing data:
Empty DataFrame
Columns: [id, date, open_price, close_price, high, low, volume]
Index: []

AMZN missing data:
Empty DataFrame
Columns: [id, date, open_price, close_price, high, low, volume]
Index: []

TSLA missing data:
Empty DataFrame
Columns: [id, date, open_price, close_price, high, low, volume]
Index: []

NVDA missing data:
Empty DataFrame
Columns: [id, date, open_price, close_price, high, low, volume]
Index: []

META missing data:
Empty DataFrame
Columns: [id, date, open_price, close_price, high, low, volume]
Index: []

AMD missing data:
Empty DataFrame
Columns: [id, date, open_price, close_price, high, low, volume]
Index: []

INTC missing data:
Empty DataFrame
Columns: [id, date, open_price, close_price, high, low, volume]
Index: []

NFLX missing data:
Empty DataFrame
Columns: [id, date, open_price, close_price, high, low, volume]
Index: []